.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 60%;
    color: gray;
    margin: auto;
    margin-top: 2%;
    border: solid 1px #6f5b3e;
    padding: 5%;
    background-color: #f9f6f0;
 }